#Title: <Django & React Web App Tutorial - Authentication, Databases, Deployment & More...>
#Author: <Tech with Tim>
#Date: <26/03/2024>
#Code version: <n/a>
#Availability: <https://www.youtube.com/watch?v=c-QsfbznSXI> 
#Lines reused specified below


#REUSED FROM Tech with Tim (LINE 10-19)
asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv 
requests